chromedriver_autoinstaller==0.4.1
edge_tts==6.1.7
Flask==2.3.2
librosa==0.10.0.post2
moviepy==1.0.3
Pillow==10.0.0
Pillow==10.0.0
Requests==2.31.0
selenium==4.10.0
toml==0.10.2
webdriver_manager==3.8.6

